{% extends 'page_layout.html' %}

{% block body %}


<div class="main_container container-fluid">
    {% include 'components/navbar.html' %}
    <div class="row main_row">
        <div class="col-sm-4  preview">
            <div class="mobile">
                <img src="{{ url_for('static', filename = 'images/phone.png') }}" alt="" class="img-fluid phone">
                <div class="mobile_sub_wraper">
                    
                    <div class="imagebox">
                        <img src="{{ url_for('static' , filename = 'images/user.jpg') }}" alt="profile"
                            class=" profile profile_pic">
                    </div>
                    <div class="profileInfo">
                        <h3>Your Name</h3>
                        <p>email@email.com</p>
                    </div>
                    <div class="linksBox">
                        <ul class="linkBoxWrapper">
                            
                           
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col setting_wrapper">
            <div class="settings">
                <div class="addLinkButton">
                    <h3>Customize your links</h3>
                    <p>Add/edit/remove links below and then share all your profiles with the world</p>
                    <button id="addLink" class="myButton"><span><i class="fa-solid fa-plus"></i></span>Add new link</button>
                </div>
                <div class="links">
                    
                </div>
                <button class="myButton nextBtn">Next</button>
            </div>

            <div class="user_profile_setting">
                <div class="addLinkButton">
                    <h3>Profile Details</h3>
                    <p>Add your details to create a personal touch to your profile</p>
                   
                </div>
                <div class="userProfileImage">
                    
                    <input type="file" id="upload_profile">
                    <div class="uploader">
                        <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt="user" class="img-fluid user profile_pic">
                    </div>
                    
                </div>
                <div class="user_profile_details">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Your Full Name">
                        <label for="name">Full Name</label>
                      </div>
                      <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                        <label for="email">Your Email</label>
                      </div>
                </div>

                <button class="myButton saveBtn">Save</button>

                <div class="share_link">
                    <div class="sharelink_wrapper">
                        <a href="#" target="_blank"><span id="linkIcon"><i class="fa-solid fa-link"></i></span><span id="shareLink">https://www.facebook.com</span></a>
                        <span id="copy"><i class="fa-solid fa-copy"></i></span>
                    </div>
                </div>
                
            </div>

        </div>
        
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename = 'js/link.js') }}"></script>
{% endblock %}