{% extends "page_layout.html" %}

{% block body %}

<div class="container-fluid profileViewMainWrapper">
    <div class="row profileViewRow">
        <div class="col profileViewCol">
            <div class="image_wrapper_profileView">
                <img src="{{ data['profile_pic'] }}" alt="image" class="img-fluid">
      
            </div>
            <div class="profileDetailsView">
                <h3>{{ data['name'] }}</h3>
                <p>{{ data['email'] }}</p>
            </div>
            <div class="linksView">
             <ul class="linkWrapper">
                {% for key in data['social_handlers'].keys() %}
             
                <li class = "link_icons" style="background-color: {{ data['social_handlers'][key]['background'] }};">
                    <a href="{{ data['social_handlers'][key]['href'] }}" target = "_blank"><span class="icon"><i class="fa-brands {{ data['social_handlers'][key]['icon'] }}"></i>{{ key }}</span><span class="arrow"><i
                        class="fa-solid fa-arrow-right"></i></span></a>
                </li>
                {% endfor %}
                
             
             </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}