<div class="row navbar_wrapper">
   
    <div class="col">
        
        <h1><span><i class="fa-solid fa-timeline"></i></span><span class="text">Profile</span></h1>
        <button id="links" class="myButton"><span><i class="fa-solid fa-link"></i></span><span class="text">Links</span></button>
    </div>

    <div class="col">
        <button id="profile_details"><span><i class="fa-regular fa-circle-user"></i></span><span class="text">Profile Details</span></button>
        <a href="#" id="preview" target="_blank" class="myButton"><span><i class="fa-solid fa-eye"></i></span><span class="text">Preview</span></a>
    </div>
</div>